[2016-10-28 13:20] kof opened #6 "Size of the entire package"
I have just tried and it seems it prints out the size of the entire package, which is not very usefull, as not everything from a package is really used.

Could we add information of sizes from ever package which really end up in the build?

[2016-10-28 13:23] siddharthkp commented on #6
@kof Hey, it takes the `node_modules` that are `dependencies`, these are the ones that will get will get distributed as well.
What the tool doesn't do right now is add up files from the package itself that will get published.

[2016-10-28 13:25] kof commented on #6
Sure, however if I install lodash package, doesn't mean I use the entire lodash library, so its not usefull to know the size of lodash.

[2016-10-28 13:31] siddharthkp commented on #6
I see, are you talking about bundling parts of the dependencies in a bundle. Correct me, if I'm wrong, you will not put those in your module's `dependencies` in `package.json`

I feel I'm not understanding your question.

P.S. These might help if that's the case.
I think what you're looking for is [webpack-bundle-size-analyzer](https://github.com/robertknight/webpack-bundle-size-analyzer) or [sour

[2016-10-28 13:33] kof commented on #6
yeah, I am talking about code that adds up to the size of the final application. I am not even sure this project is the right place to track such stuff. However I think this is the only information that actually really matters.

[2016-10-28 13:37] siddharthkp commented on #6
I need to understand this better, DM on twitter?

[2016-10-28 13:38] kof commented on #6
sure, but I think you pointer already to the right solution, which is the webpack bundle size analyzer in my case. I was just under impression initially cost-of-modules will give me exactly this.

[2016-10-28 13:42] siddharthkp commented on #6
I'd still like to pick your brain, if that's alright 😄

[2016-10-28 13:42] #6 closed

[2016-10-28 13:43] kof commented on #6
sure)))

[2016-10-28 16:39] kentcdodds opened #7 "Add flag to not run install script"
I use `yarn` to install my packages and having `cost-of-modules` run `npm install --production` is kind of annoying. I'd like to be able to say: `cost-of-modules --no-install` to skip that part.

[2016-10-28 16:49] siddharthkp commented on #7
@kentcdodds Hey would it make sense to use yarn instead?

`cost-of-modules --yarn` which will run `yarn install --produciton`

[2016-10-28 16:52] kentcdodds commented on #7
That would be great in addition. But I'd actually prefer the default to not do any installation. I'd prefer to do the installation myself before running the script.

[2016-10-28 17:10] #7 closed

[2016-10-28 17:12] siddharthkp commented on #7
@kentcdodds Released in `0.2.6`

`cost-of-modules --no-install`

[2016-10-28 17:14] kentcdodds opened #10 "Getting "There are no dependencies!" with `cost-of-modules --no-install`"
This is odd, but I wonder if it's because [my project](https://github.com/javascriptair/site) has no production dependencies (only dev). There are definitely modules in `node_modules` though. Any ideas?

[2016-10-28 18:39] siddharthkp commented on #10
Yep, it only checks prod dependencies because those are the ones that get distributed

If you're looking for optimising dev depencies as well, I can include another flag `cost-of-modules --include-dev`

[2016-10-28 18:41] kentcdodds commented on #10
Gotcha, makes total sense. Yeah, I'd love a `--include-dev` if you feel so inclined :)

[2016-10-28 19:48] siddharthkp commented on #10
@kentcdodds Published in `0.3.0`!

[2016-10-28 19:48] #10 closed

[2016-10-28 20:10] jonschlinkert opened #12 "documentation about "cost""
edit: and fwiw, I'm sorry if I'm getting hung up on a language nuance. I know that "cost" technically implies size here. But given the debates about this topic atm, I think that could just be clarified in a brief sentence up front, to avoid misunderstandings. Specifically because by having a tool to identify "bloat", you're making some kind of statement about the impact of having lots of modules.

[2016-10-29 21:50] siddharthkp commented on #12
Totally understandable. To be honest, I realized this too late, the name is misleading - it should be `cost-of-npm-packages.` or `size-of-packages`

I added the motivation of creating this tool to the [README](https://github.com/siddharthkp/cost-of-modules#motivation)

I have also changed the tagline to be more accurate.

TL;DR: This is about install speeds and size.

Here are some installation me

[2016-10-29 21:52] siddharthkp commented on #12
@jonschlinkert I know that doesn't answer the questions you have asked, but this package doesn't aim to answer those questions.

And honestly, I don't think I'm the right to answer those questions 😄

[2016-10-30 02:21] jonschlinkert commented on #12
No I think the additions are great! I think that makes all the difference. Thanks!

[2016-10-30 02:21] #12 closed

[2016-10-30 03:12] jonschlinkert opened #14 "feature: devDeps listed as deps"
You have this listed on your todo list: "Check if there are any dev dependencies that are specified as dependencies (tricky)"

I have a package, [lint-deps](https://github.com/jonschlinkert/lint-deps) that would be able to do this once I get the refactor pushed up (it's finished but I need to do unit tests). As it is currently, lint-deps is really geared around CLI usage, but the refactor will mak

[2016-10-30 20:15] siddharthkp commented on #14
@jonschlinkert This is really helpful, thanks!

[2016-10-31 10:25] phil-r opened #15 "Private repos have `NaNM` size"
Hi, I've tried to run `cost-of-modules` on our company project and our private dependency size was counted as `NaNM`
![image](https://cloud.githubusercontent.com/assets/577316/19851101/8096f096-9f5c-11e6-96a1-a545186723db.png)

[2016-10-31 10:31] phil-r opened #16 "Strange size for some dependecies"
After running `cost-of-modules` on one of the projects, the largest dependency turned out to be `babel-preset-es2015` with the size of `320.52M` :
![image](https://cloud.githubusercontent.com/assets/577316/19851251/3e0b69d6-9f5d-11e6-8a78-dc2817b82308.png)
Although after running `cost-of-modules` on the clean repo with only `babel-preset-es2015` dependency the size was mere `14.55M` :
![image](htt

[2016-10-31 10:39] kevgathuku opened #17 "Always getting NaNM size when runninng the script"
Hi,
I have been trying out this module and every time I run it, I am getting the following output.
Any idea what might be wrong?
Node: v6.9.1
npm: 3.10.8
yarn: 0.16.1

[code]

[2016-10-31 12:05] siddharthkp commented on #17
@kevgathuku That's weird. Which OS are you on?

[2016-10-31 12:07] kevgathuku commented on #17
@siddharthkp I'm on Mac OS Sierra (10.12.1)

[2016-10-31 12:08] siddharthkp commented on #16
Interesting. I look at the modules already installed in `node_modules` instead of doing a clean install.
This is for faster results, but it might have some weird results.

Notice that the number of children itself changed, can you give me a way to reproduce this? What were the other dependencies in the first screenshot?

[2016-10-31 12:15] siddharthkp commented on #17
Can you run this command in the root of your repository for me

`du -d 1 -k -I .cache node_modules`

[2016-10-31 12:19] kevgathuku commented on #17
Running that gives me this error
[code]

[2016-10-31 12:20] kevgathuku commented on #17
If I run `du -d 1 -k node_modules` this is the output:
[code]

[2016-10-31 12:21] siddharthkp commented on #17
@kevgathuku Ah, perfect, seems like they have changed some cli params for `du`

Lastly, can you give me the output of `man du`

[2016-10-31 12:25] kevgathuku commented on #17
[code]

[2016-10-31 12:25] siddharthkp commented on #15
@phil-r This is tricky to debug, I don't have any private npm packages to test this with.

Can you give me the output of this -
`du -d 1 -k node_modules`

We [can DM](https://github.com/siddharthkp) if you would prefer that.

[2016-10-31 12:26] siddharthkp commented on #17
@kevgathuku This is weird, `-I` is supported.

I'll try to figure out an alternate implementation for this by avoiding `-I` completely.

Thanks for the pair debugging 😄

[2016-10-31 12:32] kevgathuku commented on #17
Okay @siddharthkp Thanks for looking into it 😄
My guess it that it could be because I have installed the [`coreutils`](http://brewformulas.org/Coreutil) brew package which provides its own version of `du` which doesn't support `-I`

See the output of `du --help`
[code]

[2016-10-31 12:39] siddharthkp commented on #17
Ah, that seems to be it, this one follows `-X` instead of the native `-I`
That sounds like a very specific case, I'm not sure if the tool should support it.

Although, you can make it work for you by editing
`/usr/local/lib/node_modules/cost-of-modules/lib/helpers.js` line 73 😉

[2016-10-31 12:48] kevgathuku commented on #17
It might be more popular, but I guess we'll just have to see if more people experience the same.
I think I'll just use the original command directly, rather than the `darwin` workaround.
Thanks for your time

[2016-10-31 13:22] siddharthkp commented on #17
I'm not sure if it's possible.

[2016-10-31 14:47] kevgathuku commented on #17
Okay. I'll comment out the `darwin` part in the meantime.

[2016-10-31 14:57] #17 closed

[2016-10-31 15:36] #15 closed

[2016-10-31 15:37] siddharthkp commented on #15
@phil-r Published 0.3.2!

[2016-10-31 19:39] mattbasta opened #19 "Namespaced npm modules don't seem to be supported."
Here's the output for a project that I'm working on:
[code]

[2016-10-31 19:45] siddharthkp commented on #19
You are right.

Help me with this, what is the directory structure inside `node_modules`?

[2016-10-31 19:52] siddharthkp commented on #15
@phil-r This problem might not be fully solved. Can you pass me the folder structure inside your private repo

[2016-10-31 21:04] mattbasta commented on #19
A module namespaced as `@foo/bar` would end up as `node_modules/@foo/bar`.

[2016-10-31 21:27] siddharthkp commented on #19
Thanks, that helps

I think I'll implement it tomorrow

[2016-11-01 22:24] siddharthkp commented on #19
@mattbasta Released in `0.4.0`, can you give this a try?

[2016-11-01 22:35] mattbasta commented on #19
Works great. Much appreciated!

[2016-11-01 22:35] #19 closed

[2016-11-01 22:37] siddharthkp commented on #19
@mattbasta Awesome! Thanks for your help 😄

[2016-11-02 10:57] siddharthkp commented on #14
Closing this for now, will pick it up when I have a chunk of time 😄

[2016-11-02 10:57] #14 closed

[2016-11-02 12:25] rayno opened #23 "Windows - Size returned in NaNM for all packages"
Just tried it today on Your OS is Windows 10 64-bit

[code]

[2016-11-02 12:35] siddharthkp commented on #23
@rayno Can you give me the output of `du --max-depth 1 -k --exclude ".*" node_modules` in your root directory?

[2016-11-02 15:19] rayno commented on #23
Here you are!
[debug.txt](https://github.com/siddharthkp/cost-of-modules/files/566935/debug.txt)

[2016-11-02 15:40] siddharthkp commented on #23
@rayno That looks, perfectly fine. Not sure what's wrong :thinking:

I'll get my hands on a windows machine and debug soon

[2016-11-05 19:05] siddharthkp commented on #23
@rayno, Can you help me debug this?

Please clone the repo and run `npm test`

[2016-11-07 09:55] rayno commented on #23
Hi again,

When running the tests the linting fails because of line endings.
After removing the lint the tests are not able to run

Output from WebStorm:
[code]

Output from [clink](https://mridgers.github.io/clink/) terminal
[code]

I hope that will help!

[2016-11-07 10:09] siddharthkp commented on #23
@rayno Interesting, it could not find `package.json`!

Are you open to a screen sharing debug session?

[2016-11-10 09:27] rayno commented on #23
Yes, weekdays from 11-17 EET time.

[2016-11-15 16:56] siddharthkp commented on #23
@rayno, Finally tried this on a windows machine, turns out `du` is not supported at all in the command prompt

When you gave me `debug.txt`, did you run it on a specific terminal?

[2016-11-15 16:57] siddharthkp commented on #16
@phil-r Closing this, hit me up with some of this information when you can 😄

[2016-11-15 16:57] #16 closed

[2016-11-16 11:43] rayno commented on #23
Yes, you are right. I used git bash for that.

[2016-11-16 14:22] phil-r commented on #16
@siddharthkp I've tested it recently - it's not the case anymore. Thanks!

[2016-11-16 16:03] siddharthkp commented on #23
Can you run this command for me in your directory -
[code]

[2016-11-17 08:02] rayno commented on #23
Already did that, see the attachment debug.txt. The command was ran in git bash since it does not exist in windows environment.

[2016-11-17 09:26] siddharthkp commented on #23
@rayno, sorry about that. I completely forgot.

I still don't have an idea, why does it fail 😞

I'll get my hands on a windows machine and try again this week.

[2016-11-24 10:08] DimaJedi commented on #23
same issue win8.1

[2016-11-24 15:18] tomapp commented on #23
On Windows you do :
[code]

On unix you do :
[code]

According to this [post](http://unix.stackexchange.com/questions/123323/why-ubuntu-and-windows-show-different-amount-of-free-space) it seems that windows doesn't measure the disk usage the same way as Linux does.

I think we should adjust on of this command to get the same result as the other, but i only have a windows for the moment...

[2016-11-24 15:50] siddharthkp commented on #23
@tomapp Thanks! This is helpful.

A pull request will be great! If you make it work for windows, the travis build will take care of linux 😄

[2016-11-25 09:01] tomapp commented on #23
Currently i don't have solutions for solve this... After many tries i don't get the same value wrote in tests.

[2016-11-25 09:23] siddharthkp commented on #23
@tomapp, No worries. Thanks for trying. I'll try once again when I get my hands on a windows machine.

[2016-12-02 15:37] siddharthkp opened #24 "CentOS - Errored out"
from https://twitter.com/PmaContacto/status/804703698257608704

[2016-12-02 15:38] siddharthkp commented on #24
Can you tell me the OS and node version?

[2016-12-02 16:09] pmirandaarias commented on #24
OS: CentOS 6.4

 npm3 version
{ public: '1.0.0',
  npm: '3.10.6',
  ares: '1.9.0-DEV',
  http_parser: '1.0',
  modules: '11',
  node: '0.10.4',
  openssl: '1.0.1e',
  uv: '0.10.4',
  v8: '3.14.5.8',
  zlib: '1.2.3' }

[2016-12-02 16:28] siddharthkp commented on #24
@pmirandaarias I haven't tested this on CentOS!

Try running `du --max-depth 1 -k --exclude ".*" node_modules` this in your directory. This is what I use under the hood. I guess this is not valid syntax for CentOS

[2016-12-02 16:38] pmirandaarias commented on #24
Ok. I got a list of node_modules, then I try yo run "cost-of-modules" and got the same error.

[2016-12-02 17:26] siddharthkp commented on #24
@pmirandaarias Do you also have the size of the modules? Can you paste the output here?

[2016-12-02 17:27] pmirandaarias commented on #24
How can I view that?

[2016-12-02 17:27] siddharthkp commented on #24
Sorry I meant the output of `du --max-depth 1 -k --exclude ".*" node_modules`

[2016-12-02 17:29] pmirandaarias commented on #24
20      node_modules/babel-preset-stage-0
32      node_modules/fill-range
20      node_modules/babel-plugin-transform-react-jsx
220     node_modules/bn.js
44      node_modules/gemini-scrollbar
20      node_modules/babel-helper-bindify-decorators
76      node_modules/micromatch
16      node_modules/minimalistic-assert
80      node_modules/des.js
1096    node_modules/esprima-fb
144     node_modules/

[2016-12-02 17:37] siddharthkp commented on #24
This is the perfect result.

If you're up for pair debugging 😄 , next step in debugging - Clone the repo, run `npm test`.

[2016-12-02 17:44] pmirandaarias commented on #24
Ah, let's see

[2016-12-02 17:47] pmirandaarias commented on #24
I got this error:
echo 'Error: no test specified'

By the way, this is my package.json:

{
  "name": "public",
  "version": "1.0.0",
  "description": "",
  "main": "boot.js",
  "scripts": {
    "start": "webpack",
    "build": "webpack -p --config webpack-production.config.js",
    "dev": "webpack "
  },
  "author": "Adevcom",
  "license": "ISC",
  "devDependencies": {
    "babel-plugin-transform-

[2016-12-05 10:13] tomapp commented on #23
@siddharthkp What do you think about using [getFolderSize](https://www.npmjs.com/package/get-folder-size) package for replace result of command ?

[2016-12-05 10:22] siddharthkp commented on #23
I started with that, then dropped. Should give it another try.

[2016-12-05 10:22] tomapp commented on #23
I'll try too :)

[2016-12-05 10:32] siddharthkp commented on #23
@tomapp Thanks! ❤️

[2016-12-05 11:32] aecz commented on #23
Same issue here on Windows 7 64bit.
[code]
In the meantime, id suggest adding in the Readme, `Windows support in progress`

[2016-12-09 09:21] fergiemcdowall opened #25 "Show module sizes for browserified bundles?"
It would be so good if this lib could show sizes of modules in browserify bundles. (or maybe it can already- if so how..?)

[2016-12-09 09:25] giscafer commented on #23
Same issue on Windows 10 64bit

[2016-12-09 14:32] siddharthkp commented on #25
I think what you're looking for is [source-map-explorer](https://github.com/danvk/source-map-explorer) by @danvk

It's really good.

Bonus: [Totally Tooling Tips](https://www.youtube.com/watch?v=7aY9BoMEpG8) episode on the same.

[2016-12-10 23:01] alshakero commented on #23
Any reason not to use native `fs` instead of du? I implemented it and works perfect. Should I send a PR?

[2016-12-10 23:24] siddharthkp commented on #23
@alshakero yes please

[2016-12-11 00:48] alshakero commented on #23
@siddharthkp done

[2016-12-11 00:50] alshakero commented on #23
@siddharthkp BTW, tests may not pass because du measures size on disk, this method measures the actual file size. You'll need to modify the fixtures.

[2016-12-11 09:05] alshakero commented on #23
All tests passed now. Pushed

[2016-12-12 16:50] #25 closed

[2016-12-12 17:04] siddharthkp commented on #23
Released in `0.4.2` 🎉

Thanks @alshakero!

@rayno @tomapp @giscafer @aecz Can you update and verify?

[2016-12-12 17:05] siddharthkp commented on #24
@pmirandaarias  Can you update to 0.4.2 and verify?

[2016-12-12 17:12] pmirandaarias commented on #24
Ok, I'll check.

[2016-12-12 17:25] pmirandaarias commented on #24
The only difference now was that it took like 10 seconds on "Calculating..." before the error. With the previous version the error was almost inmediately.

[root@XXX public]# npm install -g cost-of-modules
/usr/local/bin/cost-of-modules -> /usr/local/lib/node_modules/cost-of-modules/lib/index.js
/usr/local/lib
└── cost-of-modules@0.4.2

[root@XXX public]# cost-of-module
-bash: cost-of-module: no s

[2016-12-12 17:28] siddharthkp commented on #24
Cool, thanks.

You might have to wait some more 😔

[2016-12-13 16:16] rayno commented on #23
Seems to work :)

[2016-12-13 17:23] aecz commented on #23
v0.4.2 work in Windows 7 64bit, Node 6.5.0 but does not output size on disk like `du` on Unix. (Look at core-js size). So this change should be a breaking change (v0.5 ?) as Unix user will see their sizes changed.

[code]

v0.4.0 with Cygwin:
[code]

v0.4.2:
[code]

[2016-12-13 18:23] siddharthkp commented on #23
@aecz Yes, you're right. Published 0.5.0
Unfortunately, can't take 0.4.2 back

[2016-12-16 09:36] siddharthkp commented on #23
@rayno Thanks for reporting this
@alshakero Thanks for fixing it!

[2016-12-16 09:36] #23 closed

[2016-12-16 10:23] alshakero commented on #24
@siddharthkp after some research, I found why

![image](https://cloud.githubusercontent.com/assets/17054134/21259483/e90e2100-c381-11e6-82d2-3ecbaf14d53d.png)

From : https://babeljs.io/docs/usage/caveatsy

The solution would be to either add a polyfill, or change every for...of to a normal for loop. I lean to changing loops, why add another module? What do you think? I can change the loops if you

[2016-12-16 12:28] siddharthkp commented on #24
@alshakero good find!
Completely agree.

[2016-12-16 13:31] alshakero commented on #24
I've sent a PR. Could you check with Travis?

[2016-12-17 08:29] siddharthkp commented on #24
@

[2016-12-17 09:41] alshakero commented on #24
I guess it would be better if @pmirandaarias could please clone and try before that? It's 2 appreciated mins
[code]
And share the results 😄

[2016-12-19 15:34] pmirandaarias commented on #24
Ok guys, give me some minutes (maybe an hour), kinda busy here with some ReactJS stuff D:

[2016-12-19 15:45] pmirandaarias commented on #24
Just upgraded to 0.5.1 and... Voilà!

[root@XXX public]# cost-of-modules

Making sure dependendies are installed
npm install --production

Calculating...

┌──────────────────────────┬──────────────┬────────┐
│ name                     │ children     │ size   │
├──────────────────────────┼──────────────┼────────┤
│ browserify               │ 118          │ 6.71M  │
├──────────────────────────┼─────

[2016-12-19 16:32] siddharthkp commented on #24
:tada: it works!

@pmirandaarias Thanks for being so patient.

You seem to have some build stuff as `dependencies` instead of `devDependencies` (browserify, babel, watchify, etc)

[2016-12-19 18:57] pmirandaarias commented on #24
Ok, no problem, trying to contribute to the community, that's all.

[2016-12-21 12:39] alshakero commented on #24
@siddharthkp should we close this?

[2016-12-21 13:04] #24 closed

[2016-12-21 13:05] siddharthkp commented on #24
@alshakero Forgot to close the issue 😉

[2017-01-06 15:27] dphochman opened #29 "Feature: Read bower dependencies"
In my app (based on angular-seed), the runtime dependencies are installed by `bower install` which is triggered by npm script `postinstall`, and not detected by cost-of-modules.  `bower.json` declares the runtime dependencies, and `.bowerrc` declares the directory where the dependencies are installed (the default directory is `bower_components/`).

I realize that this request may lead to a vortex

[2017-01-09 21:14] siddharthkp commented on #29
Can't deny that bower is still pretty popular. But, that sounds like another project of it's own. Wouldn't want to add that to this repo.

[2017-01-17 15:10] dphochman commented on #29
Of course, you are correct.  Small pieces loosely joined...

If it's OK with you to fork or require "cost-of-modules" to jumpstart a "cost-of-packages" or "cost-of-bower" package, that's the route I'll pursue.  If it works, I may attempt to register it on bower.io.  And that may lead me or others to enter the above-mentioned vortex.

Thank you for this work.

[2017-01-17 15:36] siddharthkp commented on #29
@dphochman Of course! Go for it!

[2017-01-17 15:36] #29 closed

[2017-03-04 06:55] oliverjessner opened #31 "Grunt Plugin"
Is there a grunt plugin? Could not find one at npm.

If there is none would you mind, me making one?

[2017-03-04 08:55] siddharthkp commented on #31
Sure! Go for it.

[2017-03-20 10:15] S-Kaushik opened #32 "Warning image in ReadMe"
Hi, the `Warning` image at the end of ReadMe is `Not Found`.

[2017-03-20 11:54] siddharthkp commented on #32
Thanks!

It broke when dropbox changed their public files policy 😢

Fixed now.

[2017-03-20 11:54] #32 closed

[2017-03-26 13:57] brekk opened #33 "Tests fail on master"
Hi there,

Excited to be integrating this tool, so thank you for your work. I found while playing out with a clone of this repo that `npm test` results in two failing tests on `master`, without my having written any new code.

[code]

This makes it hard to know where to start when contributing.

Thanks for your work and your time!

*Edit*: Running on El Capitan OSX 10.11.6 and `node v.6.2.1`, was

[2017-03-26 14:33] siddharthkp commented on #33
Ouch!

I can't get to a machine right now 🏄
Will get to it on wednesday

P.S. thanks for the kind words!

[2017-04-04 07:51] siddharthkp commented on #33
Fixed in https://github.com/siddharthkp/cost-of-modules/pull/34

[2017-04-04 07:51] #33 closed

[2017-04-04 07:53] siddharthkp commented on #33
@brekk The tests structure is a bit weird, let me know if you need any help. (I plan/hope to clean it up soon)

[2017-04-04 07:53] #31 closed

[2017-04-04 07:53] siddharthkp commented on #31
@oliverjessner Let me know if you need any help from me

[2017-04-11 17:17] ffxsam opened #35 "Running this removes dev modules"
Is it normal for this script to blow away dev dependencies? I think when it runs `npm install --production`, for some reason, any dev dependencies in `node_modules` are gone.

[2017-04-11 18:38] siddharthkp commented on #35
Yes, `--production` does that. Do you think it would be a good idea to reinstall them after running the command?

[2017-04-11 20:09] ffxsam commented on #35
I think it would be an even better idea to not run `npm install --production`. I always know that my packages are installed and up to date before I run `cost-of-modules`. And then maybe provide an option, e.g. `cost-of-modules -i` to ensure packages are installed.

[2017-04-11 20:35] ffxsam commented on #35
Ah I see. Never mind then, best to leave it as is and not automatically reinstall after.

[2017-04-11 20:35] #35 closed

[2017-04-11 21:40] alshakero commented on #35
@siddharthkp maybe rename the original node_modules to something and then restore it when done measuring?

[2017-04-12 03:32] siddharthkp commented on #35
@alshakero I was thinking the same. Will implement it today

[2017-04-12 05:59] siddharthkp commented on #35
@alshakero Code review please https://github.com/siddharthkp/cost-of-modules/pull/36

[2017-04-12 06:04] siddharthkp commented on #35
Update: I couldn't reproduce the bug! 😳

@ffxsam `npm install --production` does not remove devDependencies for me. Which version of npm are you on?

[2017-04-12 07:33] alshakero commented on #35
@siddharthkp done.

[2017-04-12 11:21] siddharthkp commented on #35
@ffxsam published, just update cost-of-modules 😄

[2017-04-12 15:25] ffxsam commented on #35
It does remove the devDependencies as far as I can tell:

[code]

And then when I run my app, there are errors because of missing dev dependencies.

I'm using npm 4.4.4 and node 6.10.1.

[2017-04-12 17:01] siddharthkp commented on #35
@ffxsam, is that with cost-of-modules@1.0.0?

[2017-04-12 17:02] ffxsam commented on #35
@siddharthkp nope, this was 0.5.2. I was just telling you because you said that for you, it wasn't deleting dev dependencies.

But that's irrelevant now that the new version is out I suppose. 😄  I'll grab it and give it a shot.

[2017-04-12 17:09] ffxsam commented on #35
Works great!

[2017-04-12 18:13] siddharthkp commented on #35
🎉

Thanks for reporting it.

[2017-04-23 19:49] RoM4iK opened #37 "Extract CLI from module"
Hi @siddharthkp, thank you for good package.
I think your package shouldn't be bound to command line interface and can be decomposed to API and CLI, to allow users write their own interfaces.
What do you think about this?

[2017-04-23 21:12] siddharthkp commented on #37
@RoM4iK Ooh, I like that idea.

It is easily achievable too. All the heavy lifting happens in [helpers functions](https://github.com/siddharthkp/cost-of-modules/blob/master/src/helpers.js) and the [cli entry point](https://github.com/siddharthkp/cost-of-modules/blob/master/src/index.js) reads the options and calls the helper functions

Would you like to have a go at this?

P.S. What is the applica

[2017-04-24 13:23] RoM4iK commented on #37
@siddharthkp, I just thought about creating http API, as you said.
I will start working on core extraction.

[2017-04-25 20:33] RoM4iK commented on #37
Sorry man, but I can't agree with your code style and lint config. So I gave up on this. I won't close PR, since this idea still has sense.

[2017-04-26 03:14] siddharthkp commented on #37
Ah, don't give up because of that :pensive:

Can we use [prettier](https://github.com/prettier/prettier)?

[2017-04-26 05:33] RoM4iK commented on #37
Yes, we can, but this will make a lot of changes. If u want to go this way, I'll help you:)

[2017-04-26 07:29] siddharthkp commented on #37
I have added prettier, would you like to review https://github.com/siddharthkp/cost-of-modules/pull/38?

[2017-05-07 20:41] nknapp opened #40 "cost-of-modules reports too small sizes"
I don't know, how important that is to you, but I think that the sizes that are reported are sometimes smaller than the actual sizes. For example

[code]

While cost-of-modules only reports 8.43M of this project (that has only a package.json and the `thought`-dependency), while `du -hs` reports 13M. Maybe it does not take into account, that even a very small file uses 4kb of space, depending on th

[2017-05-07 20:44] nknapp commented on #40
I was motivated an wrote my own analzyer [analyzer-module-size](https://github.com/nknapp/analyze-module-size) which reports the sizes in a slightly different way (output the whole tree with aggregated block-based sizes for each dependency).

[2017-05-08 03:52] siddharthkp commented on #40
Correct size is definitely the most important thing.

Can you share your package.json and I'll look into what's happening

[2017-05-08 03:53] siddharthkp commented on #40
Great work on analyze module size!

[2017-05-08 06:16] nknapp commented on #40
I have created my test-package with

[code]

in an empty directory. The package.json is

[code]

[2017-05-08 13:15] siddharthkp commented on #40
Looping @alshakero in here. Do you think we introduced a bug here: [pull/26/files#diff](https://github.com/siddharthkp/cost-of-modules/pull/26/files#diff-2113531435815bbbba24d4989c5e9451R2)

The results of `fs.readdir` do not match with a `du -k`

[2017-05-08 14:47] nknapp commented on #40
I have noticed that "du -h" shows 4k size on my system, even if the file contents is only 100 bytes.
It also shows 4k for directories. The stats show a block size of 4096 for my system, so I just round up file sizes to the next block in analyze-module-size. This quickly adds up if you have a lot of small files and a lot of small modules.
I think even a small file uses a whole block, so counting th

[2017-05-09 03:20] siddharthkp commented on #40
That makes sense.

We used to use `du` but that led to inconsistent results on different environments (let's not even get into windows). That's a bad developer experience especially if you want to use this in your CI ("works on my machine" bugs)

Honestly, between correctness and consistency, I don't know what to prefer, because, you do not control the environment in which your npm module will lan

[2017-05-09 11:06] nknapp commented on #40
Thinking about it, what is the actual bad experience when installing a bloated package? It's the time it takes for npm install to complete. This may be more related to the number and size of tars that are downloaded. And the time to unpack the tars probably depends more on the number of files than on the unpacked total size.
I want to say that different metrics may be more interesting.

Am 9. Mai

[2017-05-09 11:11] alshakero commented on #40
@nknapp said it perfectly. It has to do with block sizes. However, before I went for FS I compared to windows native stats. And FS delivered exactly the same results, as in `===`.

So on Windows, I don't think we need to be any more accurate than Windows itself. And I took the numbers I put in fractures from Windows stats.

[2017-05-28 10:49] umarashfaq opened #41 "TypeError: Buffer.alloc is not a function"
Ran `cost-of-modules` in a node project directory. Got this error:

<img width="970" alt="screen shot 2017-05-28 at 3 48 21 pm" src="https://cloud.githubusercontent.com/assets/1681120/26528128/29e02f46-43bd-11e7-91fb-3dcdacb4338e.png">

[2017-05-28 11:11] alshakero commented on #41
Hi! Nice name 😆

Could you please show me the output of:
[code]

[2017-05-28 12:20] umarashfaq commented on #41
:D

`4.3.2`

[2017-05-28 13:15] alshakero commented on #41
`Buffer` is only available after Node 5.0.0. And[ this lib supports Node >= 5.0.0](https://github.com/siddharthkp/cost-of-modules/blob/master/package.json#L23)

[2017-05-28 13:23] umarashfaq commented on #41
I see, thanks for your prompt response.

[2017-05-28 13:23] #41 closed

[2017-05-28 15:01] siddharthkp commented on #41
thanks @alshakero!

side thought: should we add a warning for unsupported node versions instead of just crashing?

In my head, it's a npm package that can be imported and decides based on `engine` in package.json

[2017-06-02 16:07] jrop opened #42 "Unexpected end of JSON input"
First of all I love this utility, thanks for making!

I am getting the following error:

[code]

My package.json is:

[code]

I am using npm 5.0.0, and I suspect that the issue relates to `npm ls --json` printing errors after printing the json (note that sync-exec channels both STDOUT and STDERR and returns the combination).

You should probably use:

[code]

Erroneous "JSON" output (note STDERR a

[2017-06-02 17:16] siddharthkp commented on #42
Thanks, that's super useful!

I'll happily take a PR

[2017-06-02 21:02] jrop commented on #42
This is turning out to be more difficult than I first thought.  In my particular case the `npm` process is exiting before flushing STDOUT, which means that NodeJS gets truncated output back from it.  I haven't figured out a workaround for this yet.  I am investigating seeing if it is possible to switch to `read-package-tree` to see if that gives all of the data your utility needs, but the problem

[2017-06-02 21:21] jrop commented on #42
This seems to be a bug with NPM.

According to NodeJS (nodejs/node/issues/9633) all of STDIO is async, and if the process exits before all the data is flushed, it will not be able to be ready from `child_process`.

In NPM's `lib/utils/error-handler.js` file, in `exit(code, noLog) -> reallyExit(err)` the process is exited explicitly with `process.exit(code)`.  If I change that line to `process.exit

[2017-09-02 08:15] palashmon opened #45 "Build errors in Travis CI"
Reference: https://travis-ci.org/siddharthkp/cost-of-modules/jobs/265179931

[code]

[2017-12-17 19:00] edm00se opened #47 "Feature Request: Ignore Optional Dependencies"
It would be nice to have an option to ignore `optionalDependencies`, which apparently are included with the invoked `npm install --production` that gets triggered.

[2017-12-17 23:05] siddharthkp commented on #47
Make sense, would you like to create a PR?

[2017-12-17 23:06] edm00se commented on #47
If I put it on my list of "when I have time", it might be a little while 🤔. I'll see when I can look into it. If I make some progress, I'll update here, but if somebody beats me to it, I'd love to see it implemented.

[2017-12-22 19:56] oriash93 opened #48 "Tests failed"
$ npm test

src\helpers.js -> dist\helpers.js
src\index.js -> dist\index.js

test\src\0prod.js -> test\dist\0prod.js
test\src\1dev.js -> test\dist\1dev.js
test\src\fixtures\dev-test-data.js -> test\dist\fixtures\dev-test-data.js
test\src\fixtures\helpers.js -> test\dist\fixtures\helpers.js
test\src\fixtures\test-data.js -> test\dist\fixtures\test-data.js
test\src\fixtures\tests.js -> test\dist\fix

[2017-12-22 20:47] siddharthkp commented on #48
Thanks for taking the time to report this!

Would you like to dive in deeper and debug this?

[2017-12-23 08:48] oriash93 commented on #48
I updated the issue after running ava with --verbose, also added the complete debug log.
Will try to look into that

[2017-12-27 21:26] styfle opened #50 "Create a website"
Have you thought about creating a website so that someone could link to the report to show the cost of a module?

For example, bundlephobia shows you the webpack size if you included the module. [See Example](https://bundlephobia.com/result?p=react-dom@16.2.0).

It would be great to do something like cost-of-modules.com/result?p=ava@0.24.0 and see that the result is 24 MB.

[2017-12-28 12:20] siddharthkp commented on #50
It probably doesn't fit in this repo but a related parallel project

What are the numbers that you'd like to show?

1. download size
2. ?

[2017-12-28 14:41] styfle commented on #50
I created https://github.com/pastelsky/bundlephobia/issues/40 which might be a good place to put this feature if it is not out of scope.

I think the numbers should show the size on disk.
The way I normally do this myself is the following:

[code]

This prints **24 M**

Note, I add the suffix `-example` to avoid the name collision with the package name.

[2017-12-28 15:08] siddharthkp commented on #50
I was going to say something similar: https://github.com/pastelsky/bundlephobia/issues/40#issuecomment-354299108

the motive of bundlephobia is different but it has all of the code and infra required for this, maybe a fork makes the most sense 😄

[2018-03-13 08:29] zodvik commented on #47
@edm00se If you haven't started working on this, I'll take a shot on this today.

[2018-03-13 10:56] siddharthkp commented on #47
Go for it!

[2018-03-13 10:56] siddharthkp commented on #47
Also, oh damn! Hi Bafna!

[2018-03-13 11:21] zodvik commented on #47
This was a rabbit hole that led to npm/npm#17633. The `--no-optional` isn't actually working in `npm` for some time now. I see 2 options
1. Invoke as `--no-shrinkwrap --no-optional` as an fix to npm/npm#17633
2. Parse `package.json` file to read `optionalDependencies`

I would prefer `1.` if you don't anticipate side-effect of `--no-shrinkwrap` for this module usage. Your take?

aside: Hey! Last J

[2018-03-13 14:07] edm00se commented on #47
I don't expect the `--no-shrinkwrap` option should be an issue for the use case. Option 1 should be a pretty solid way to go.

Good find on that npm issue.

[2018-03-13 14:10] edm00se commented on #47
Closing, as ability to use without optional dependencies can be done via:

- `rm -rf node_modules`
- `npm install --no-shrinkwrap --no-optional`
- `cost-of-modules`

[2018-03-13 14:25] edm00se commented on #47
I'll see if I can find time to add that option, using `--no-shrinkwrap`.

[2018-03-14 06:58] zodvik commented on #47
`npm ls` doesn't support `--no-optional`. Looking for a workaround.

[2018-03-20 00:21] styfle commented on #50
@siddharthkp I would like to import this package and use it on the server but it doesn't seem to work.

[code]

[code]

I thought it might be because of a missing `main` but I see that in `package.json` so I'm not sure why this is failing.

[2018-03-20 02:07] styfle commented on #50
I started new work in this repo if anyone is interested in following:

https://github.com/styfle/cost-of-modules-web

[2018-03-20 08:10] siddharthkp commented on #50
Oh yeah, it's because it assumes CLI

You can pull the functionality into a function and export that, should work

[2018-03-20 13:32] styfle commented on #50
@siddharthkp I think that it would require quite a bit of refactoring to `cost-of-modules` to make the product I want.

The way `cost-of-modules` works is assuming you have cloned a repo and you are reading all of the installed dependencies.

The tool I want to build is more like [bundlephobia](https://github.com/pastelsky/bundlephobia/issues/40) in that you get the cost/size via the web interface

[2018-04-08 23:50] styfle commented on #50
Here's what I came up with: https://github.com/styfle/packagephobia

[2018-04-09 05:39] siddharthkp commented on #50
This is so cool!

[2018-04-09 05:39] #50 closed

[2018-04-09 13:08] styfle commented on #50
Thanks for the kind words!

Keep up the great work on cost-of-modules, it's an excellent tool! 👍

[2018-06-07 20:02] Siilwyn opened #51 "Only output total size?"
:wave: would you accept at PR that adds a flag to only output the total size? I want to run this module from in a CI task and fail if the total size goes about a certain number. Couldn't find any module that does this out of the box.

[2018-06-07 20:31] alshakero commented on #51
It seems your need is fulfilled by https://github.com/siddharthkp/bundlesize. Have you checked it out?

[2018-06-07 20:48] Siilwyn commented on #51
@alshakero sadly not, it doesn't weigh the node modules.

[2018-06-08 07:58] siddharthkp commented on #51
@Siilwyn Hey! This is not something `cost-of-modules` is good for.

You might like [dirsize](https://www.npmjs.com/package/dirsize) or [get-folder-size](https://www.npmjs.com/package/get-folder-size)

You would already install `node_modules` in your CI, you can run these on the CLI or with a script:

[code]

You can use the above with `node test 150MB`

[2018-06-08 07:59] #51 closed

[2018-06-10 16:00] #45 closed

[2018-07-02 09:12] ZhouHansen opened #54 "check global modules"
This is a featrue 🙋

How about being able to check the size of all global modules?

[2018-07-02 09:19] ZhouHansen commented on #54
bad idea

[2018-07-02 09:19] #54 closed

[2018-07-02 10:32] siddharthkp commented on #54
Haha, that was fast.

What did you have in mind?

[2018-07-08 19:17] rgrannell1 commented on #37
Was there any progress made on this in the end? I'm pretty keen on tying this module in with my build system, but I'd like to use a custom reporter function. Something like:

[code]

[2018-07-09 05:06] siddharthkp commented on #37
@rgrannell1 Would you like to take a shot at it?

https://github.com/siddharthkp/cost-of-modules/blob/master/src/index.js contains the required flow

[2018-07-09 22:19] rgrannell1 commented on #37
@siddharthkp Sure, thanks for pointing me to that file. I'm working on a forked copy at the moment, as soon as I get tests passing I'll send in a PR.

Do you have any objections to me adding `prettier` to a dev dependency, and rewiring `package.json` to look for local copies of babel, prettier instead of globally installed versions? It makes it a bit quicker for contributors to get set up :smile:.

[2018-07-10 01:35] siddharthkp commented on #37
Sure, go for it

[2018-10-27 18:06] efimk-lu opened #55 "Feature request: Add CI support"
Part of a standard CI flow is to verify that a package size did not cross a certain threshold. Right now due to the way the results are outputted it's cumbersome to extract and assert the final package size value.

Suggested solution:
Adding a new command line option, e.g. assert-smaller <number> if the resulting package size is higher than the given number then fail with exit code different than

[2018-10-29 10:33] alshakero commented on #55
I think you're looking for this package https://github.com/siddharthkp/bundlesize

[2018-10-29 12:12] efimk-lu commented on #55
But, it means I have to package it on my own, right ? I like cost-of-modules approach, just run and it works :-)

[2018-10-30 00:39] siddharthkp commented on #55
Hey @efimk-lu, not sure if this is right tool

`cost-of-modules` does not look at your bundle size, it looks at the node_modules size

more here: https://github.com/siddharthkp/cost-of-modules#motivation

[2018-12-24 07:34] fmagaldea opened #57 "Fix npm audit warning"
Hi,

The `npm audit` command returns the warning:
[code]

Migrate to cli-table3 (merging PR https://github.com/siddharthkp/cost-of-modules/pull/52 ?) should do the trick.

[2019-01-30 21:23] DanielRuf opened #58 "Current project status"
Hi, what is the current status of this project? Is it still maintained?

[2019-06-20 08:17] denieler commented on #42
the same issue with `npm` `5.1.0`

[2020-03-08 04:49] namrqthakaipa opened #60 "Can anyone please tell what this error is .I got this error when i was running npm run server"
Error: Cannot parse config file: 'C:\DEVCONNECTOR\config\default.json': SyntaxError: Unexpected end of JSON input
    at Config.util.parseFile (C:\DEVCONNECTOR\node_modules\config\lib\config.js:794:11)
    at C:\DEVCONNECTOR\node_modules\config\lib\config.js:601:26
    at Array.forEach (<anonymous>)
    at Config.util.loadFileConfigs (C:\DEVCONNECTOR\node_modules\config\lib\config.js:600:16)
    a

[2020-03-09 07:35] siddharthkp commented on #60
Looks like the json file - config/default.json isn't valid. Try putting it in https://jsonlint.com/ to see if there are any problems

[2020-03-29 18:19] tvvignesh commented on #42
Same issue on my end. Works well in one project, but throws unexpected end of json in another. Screenshot below.

![Screenshot from 2020-03-29 23-48-34](https://user-images.githubusercontent.com/1165845/77856895-f3e66b80-7217-11ea-8922-9f81951e760b.png)

[2020-05-06 16:55] fmagaldea commented on #58
I think you are wrong, first because language/dev criteria evolves + with quality/security tools your components is out of date because of security breach warnings, so I guess that the few projects - like mine - still using will soon just stop to.

But I understand it's hard to maintain something for years.

[2020-05-06 17:19] siddharthkp commented on #58
If you find it valuable and have some spare time, you might be able to patch it up over a couple of days

if not, I totally understand, I'm not using this tool anymore and would be happy to pass it on to someone else who does

[2020-05-06 17:47] DanielRuf commented on #58
At least we would have to migrate to cli-table3 (https://github.com/siddharthkp/cost-of-modules/blob/master/package.json#L34), fix the failing build, move it to some org, invite contributors and a few more maintainers, ...

I could help with these things.

[2020-05-06 18:17] siddharthkp commented on #58
That would be great, thanks!

[2020-09-12 22:20] #58 closed

[2021-02-06 18:45] spacedawwwg opened #63 "Mono-repo support?"
Just wondering if there is any plans to support mono-repos (or just nested node modules in general) ?

[2021-02-07 05:30] michaelfarrell76 commented on #42
<img width="1358" alt="Screen Shot 2021-02-06 at 9 30 24 PM" src="https://user-images.githubusercontent.com/10264973/107137559-88067200-68c2-11eb-9930-4337fe6c1541.png">

[2021-02-25 16:27] zekenie commented on #63
Yes this would be massively useful!
![image](https://user-images.githubusercontent.com/962281/109183872-0339a600-7754-11eb-893d-2378c4a570d6.png)

[2021-09-16 17:47] MaxMls opened #64 "Yarn 2 pnp support"
https://yarnpkg.com/features/pnp

[2021-09-17 08:15] siddharthkp commented on #64
up for grabs for someone who wants to maintain this

[2021-10-18 14:52] dav1app opened #66 "SyntaxError: Unexpected end of JSON input at JSON.parse (<anonymous>)"
For anyone that faces this issue, **try updating to `Node 16` and run the command again**. You can just use it for this command, and then go back to your version!

There is an issue with this particular line:
[code]

The problem is that `syncExec` uses a `child_process.exec` to execute the `npm` command, and depending on the size of the output, it might break due to the restrictions of the buffer

[2022-09-10 03:33] #57 closed